psp/xsd/pspPerNodo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:common="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"
            xmlns:tns="http://pagopa-api.pagopa.gov.it/psp/xsd/pspPerNodo.xsd"
            targetNamespace="http://pagopa-api.pagopa.gov.it/psp/xsd/pspPerNodo.xsd">


    <xsd:import schemaLocation="../../common/xsd/common.xsd" namespace="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"/>

    <xsd:element name="pspInviaRPT" type="tns:pspInviaRPT"/>
    <xsd:element name="pspInviaRPTResponse" type="tns:pspInviaRPTResponse"/>
    <xsd:element name="pspInviaCarrelloRPT" type="tns:pspInviaCarrelloRPT"/>
    <xsd:element name="pspInviaCarrelloRPTResponse" type="tns:pspInviaCarrelloRPTResponse"/>
    <xsd:element name="pspInviaCarrelloRPTCarte" type="tns:pspInviaCarrelloRPTCarte"/>
    <xsd:element name="pspInviaCarrelloRPTCarteResponse" type="tns:pspInviaCarrelloRPTCarteResponse"/>
    <xsd:element name="pspInviaRichiestaStorno" type="tns:pspInviaRichiestaStorno"/>
    <xsd:element name="pspInviaRichiestaStornoResponse" type="tns:pspInviaRichiestaStornoResponse"/>
    <xsd:element name="pspInviaRispostaRevoca" type="tns:pspInviaRispostaRevoca"/>
    <xsd:element name="pspInviaRispostaRevocaResponse" type="tns:pspInviaRispostaRevocaResponse"/>
    <xsd:element name="pspChiediRT" type="tns:pspChiediRT"/>
    <xsd:element name="pspChiediRTResponse" type="tns:pspChiediRTResponse"/>
    <xsd:element name="pspInviaAckRT" type="tns:pspInviaAckRT"/>
    <xsd:element name="pspInviaAckRTResponse" type="tns:pspInviaAckRTResponse"/>
    <xsd:element name="pspChiediAvanzamentoRPT" type="tns:pspChiediAvanzamentoRPT"/>
    <xsd:element name="pspChiediAvanzamentoRPTResponse" type="tns:pspChiediAvanzamentoRPTResponse"/>
    <xsd:element name="pspChiediListaRT" type="tns:pspChiediListaRT"/>
    <xsd:element name="pspChiediListaRTResponse" type="tns:pspChiediListaRTResponse"/>
    <xsd:element name="pspNotificaCancellazioneRPT" type="tns:pspNotificaCancellazioneRPT"/>
    <xsd:element name="pspNotificaCancellazioneRPTResponse" type="tns:pspNotificaCancellazioneRPTResponse"/>

    <!-- Element Definition -->
    <xsd:complexType name="pspInviaRPT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoPSP" type="common:stText35" minOccurs="0"/>
            <xsd:element name="identificativoIntermediarioPSP" type="common:stText35" minOccurs="0"/>
            <xsd:element name="identificativoCanale" type="common:stText35" minOccurs="0"/>
            <xsd:element name="modelloPagamento" type="common:stModelloPagamento" minOccurs="0"/>
            <xsd:element name="elementoListaRPT" type="common:tipoElementoListaRPT" minOccurs="0" maxOccurs="unbounded"
                         nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspInviaRPTResponse">
        <xsd:sequence>
            <xsd:element name="pspInviaRPTResponse" type="tns:esitoPspInviaRPT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="esitoPspInviaRPT">
        <xsd:sequence>
            <xsd:element name="esitoComplessivoOperazione" type="xsd:string"/>
            <xsd:element name="identificativoCarrello" type="common:stText35" minOccurs="0"/>
            <xsd:element name="parametriPagamentoImmediato" type="xsd:string" minOccurs="0"/>
            <xsd:element name="listaErroriRPT" type="common:listaErroriRPT" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="basePspInviaCarrelloRPT">
        <xsd:sequence>
            <xsd:element name="identificativoPSP" type="common:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="common:stText35"/>
            <xsd:element name="identificativoCanale" type="common:stText35"/>
            <xsd:element name="modelloPagamento" type="common:stModelloPagamento"/>
            <xsd:element name="parametriProfiloPagamento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="listaRPT" type="common:tipoListaRPT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspInviaCarrelloRPT">
        <xsd:complexContent>
            <xsd:extension base="tns:basePspInviaCarrelloRPT">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pspInviaCarrelloRPTCarte">
        <xsd:complexContent>
            <xsd:extension base="tns:basePspInviaCarrelloRPT">
                <xsd:sequence>
                    <xsd:element name="rrn" type="xsd:string"/>
                    <xsd:element name="esitoTransazioneCarta" type="xsd:string"/>
                    <xsd:element name="importoTotalePagato" type="common:stImporto"/>
                    <xsd:element name="timestampOperazione" type="common:stISODateTime"/>
                    <xsd:element name="codiceAutorizzativo" type="common:stText6"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="pspInviaCarrelloRPTResponse">
        <xsd:sequence>
            <xsd:element name="pspInviaCarrelloRPTResponse" type="tns:esitoPspInviaCarrelloRPT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspInviaCarrelloRPTCarteResponse">
        <xsd:complexContent>
            <xsd:extension base="tns:pspInviaCarrelloRPTResponse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="esitoPspInviaCarrelloRPT">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="esitoComplessivoOperazione" type="xsd:string"/>
                    <xsd:element name="identificativoCarrello" type="common:stText35" minOccurs="0"/>
                    <xsd:element name="parametriPagamentoImmediato" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="listaErroriRPT" type="common:listaErroriRPT" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="pspInviaRichiestaStorno">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
            <xsd:element name="rr" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspInviaRichiestaStornoResponse">
        <xsd:sequence>
            <xsd:element name="pspInviaRichiestaStornoResponse" type="tns:tipoInviaRichiestaStornoResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoInviaRichiestaStornoResponse">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pspInviaRispostaRevoca">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
            <xsd:element name="er" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspInviaRispostaRevocaResponse">
        <xsd:sequence>
            <xsd:element name="pspInviaRispostaRevocaResponse" type="tns:tipoInviaRispostaRevocaResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoInviaRispostaRevocaResponse">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pspChiediRT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspChiediRTResponse">
        <xsd:sequence>
            <xsd:element name="pspChiediRTResponse" type="tns:valoreRT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="valoreRT">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="tipoFirma" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="rt" type="xsd:base64Binary" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pspInviaAckRT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
            <xsd:element name="ackRT" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspInviaAckRTResponse">
        <xsd:sequence>
            <xsd:element name="pspInviaAckRTResponse" type="tns:tipoInviaAckRTResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoInviaAckRTResponse">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pspChiediAvanzamentoRPT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspChiediAvanzamentoRPTResponse">
        <xsd:sequence>
            <xsd:element name="pspChiediAvanzamentoRPTResponse" type="tns:valoreAvanzamentoRPT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="valoreAvanzamentoRPT">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="pspChiediListaRT">
        <xsd:sequence>
            <xsd:element name="identificativoRichiedente" type="common:stText35"/>
            <xsd:element name="identificativoIntermediarioPSP" type="common:stText35" minOccurs="0"/>
            <xsd:element name="identificativoCanale" type="common:stText35" minOccurs="0"/>
            <xsd:element name="modelloPagamento" type="common:stModelloPagamento" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspChiediListaRTResponse">
        <xsd:sequence>
            <xsd:element name="pspChiediListaRTResponse" type="tns:chiediListaRTResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="chiediListaRTResponse">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="elementoListaRTResponse" type="tns:valoreListaRT"
                                 minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="valoreListaRT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tipoElementoListaCarrelloRPT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
            <xsd:element name="tipoFirma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rpt" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="pspNotificaCancellazioneRPT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="common:stText35"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="pspNotificaCancellazioneRPTResponse">
        <xsd:sequence>
            <xsd:element name="pspNotificaCancellazioneRPTResponse" type="tns:valoreNotificaCancellazioneRPT"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="valoreNotificaCancellazioneRPT">
        <xsd:complexContent>
            <xsd:extension base="common:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>