general/xsd/RR_ER.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://pagopa-api.pagopa.gov.it/general/xsd/RR_ER.xsd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:common="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"
            xmlns:rptrt="http://pagopa-api.pagopa.gov.it/common/xsd/rpt-rt.xsd"
            targetNamespace="http://pagopa-api.pagopa.gov.it/general/xsd/RR_ER.xsd" 
            elementFormDefault="qualified">

    <xsd:import schemaLocation="../../common/xsd/common.xsd" namespace="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"/>
    <xsd:import schemaLocation="../../common/xsd/rpt-rt.xsd" namespace="http://pagopa-api.pagopa.gov.it/common/xsd/rpt-rt.xsd"/>

    <xsd:annotation>
        <xsd:documentation>Richiesta Revoca (RR) ed Esito Revoca (ER)</xsd:documentation>
        <xsd:documentation>XSD RR/ER relativo al documento base "SPECIFICHE ATTUATIVE DEL NODO DEI PAGAMENTI-SPC
            versione 1.6 maggio 2014"
        </xsd:documentation>
        <xsd:documentation>= 24/10/2015 - allineamento a versione 1.7 dell'Allegato B</xsd:documentation>
    </xsd:annotation>

    <xsd:simpleType name="stTipoRevoca">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]"/>
            <xsd:enumeration value="0"/><!-- Tipo non codificato -->
            <xsd:enumeration value="1"/><!-- Annullo tecnico -->
            <xsd:enumeration value="2"/><!-- Procedura di charge back -->
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="ctDatiRevoca">
        <xsd:sequence>
            <xsd:element name="importoTotaleRevocato" type="common:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo al totale delle somme versate. Deve essere uguale alla
                        somma delle varie occorrenze (da 1 a 5) dell’informazione singoloImportoRevocato presente nella
                        struttura DatiSingolaRevoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato così come presente nella Ricevuta
                        Telematica (RT) cui si riferisce il messaggio di Richiesta di Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceContestoPagamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato così come presente nella Ricevuta
                        Telematica (RT) cui si riferisce il messaggio di Richiesta di Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoRevoca" type="tns:stTipoRevoca" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene il tipo di richiesta che viene utilizzata nel processo di revoca della
                        RT. Il dato è obbligatorio in caso di utillo della Richiesta Revoca da parte del PSP nel
                        processo di Revoca della RT. Il dato non deve essere presente in caso di utilizzo della
                        Richiesta Revoca da parte dell'Ente Creditore nel processo di Storno del pagamento
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingolaRevoca" type="tns:ctDatiSingolaRevoca" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli pagamenti revocati", da un minimo di uno ad un
                        massimo di 5 occorrenze di revoca, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiEsitoRevoca">
        <xsd:sequence>
            <xsd:element name="importoTotaleRevocato" type="common:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo al totale delle somme versate. Deve essere uguale alla
                        somma delle varie occorrenze (da 1 a 5) dell’informazione singoloImportoRevocato presente nella
                        struttura DatiSingolaRevoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato
                        "identificativoUnivocoVersamento" della Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceContestoPagamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato "codiceContestoPagamento" della
                        Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingolaRevoca" type="tns:ctDatiSingoloEsitoRevoca" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli pagamenti revocati", da un minimo di uno ad un
                        massimo di 5 occorrenze di revoca, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Dati singola revoca -->
    <xsd:complexType name="ctDatiSingolaRevoca">
        <xsd:sequence>
            <xsd:element name="singoloImportoRevocato" type="common:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma revocata.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoRiscossione" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riferimento univoco dell’operazione assegnato al pagamento dal Prestatore dei
                        servizi di Pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleRevoca" type="common:stText140">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta la descrizione del motivo della richiesta di revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiAggiuntiviRevoca" type="common:stText140">
                <xsd:annotation>
                    <xsd:documentation>Informazioni aggiuntive circa la descrizione del motivo della richiesta di
                        revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Dati singolo esito revoca -->
    <xsd:complexType name="ctDatiSingoloEsitoRevoca">
        <xsd:sequence>
            <xsd:element name="singoloImportoRevocato" type="common:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma revocata. Se la richiesta non è stata
                        accolta deve essere impostato a 0.00.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoRiscossione" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato
                        "identificativoUnivocoRiscossione" della Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleEsito" type="common:stText140">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta la descrizione dell’esito della revoca.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiAggiuntiviEsito" type="common:stText140">
                <xsd:annotation>
                    <xsd:documentation>Informazioni aggiuntive circa il provvedimento adottato dall’ente creditore.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Richiesta Revoca (RR)-->
    <xsd:complexType name="ctRichiestaRevoca">
        <xsd:sequence>
            <xsd:element name="versioneOggetto" type="common:stText16">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato "versioneOggetto" della Ricevuta
                        Telematica (RT).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dominio" type="rptrt:ctDominio">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "Dominio" della Ricevuta
                        Telematica (RT).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoMessaggioRevoca" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Identificativo legato alla trasmissione della Richiesta di Revoca.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere univoco nell’ambito della stessa data riferita all’elemento
                        dataMessaggioRevoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dataOraMessaggioRevoca" type="common:stISODateTime">
                <xsd:annotation>
                    <xsd:documentation>Indica la data e ora del messaggio di Revoca, secondo il formato ISO 8601
                    </xsd:documentation>
                    <xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="istitutoAttestante" type="rptrt:ctIstitutoAttestante">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione relativa al PSP che ha emesso la RT oggetto di revoca. Riporta le
                        stesse informazioni presenti nel blocco "soggettoAttestante" della Ricevuta Telematica (RT) cui
                        si riferisce il messaggio di Richiesta di Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoVersante" type="rptrt:ctSoggettoVersante" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "soggettoVersante" della
                        Ricevuta Telematica (RT) cui si riferisce il messaggio di Richiesta di Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoPagatore" type="rptrt:ctSoggettoPagatore">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "soggettoPagatore" della
                        Ricevuta Telematica (RT) cui si riferisce il messaggio di Richiesta di Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiRevoca" type="tns:ctDatiRevoca">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati della richiesta di revoca".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Esito Revoca (ER)-->
    <xsd:complexType name="ctEsitoRevoca">
        <xsd:sequence>
            <xsd:element name="versioneOggetto" type="common:stText16">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato "versioneOggetto" della
                        Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dominio" type="rptrt:ctDominio">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "Dominio" della Richiesta di
                        Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoMessaggioEsito" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Identificativo legato alla trasmissione del messaggio Esito Revoca.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere univoco nell’ambito della stessa data riferita all’elemento
                        dataMessaggioRevoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dataOraMessaggioEsito" type="common:stISODateTime">
                <xsd:annotation>
                    <xsd:documentation>Indica la data e ora del messaggio di Esito Revoca, secondo il formato ISO 8601
                    </xsd:documentation>
                    <xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="riferimentoMessaggioRevoca" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Con riferimento al messaggio di Esito Revoca (ER) l’elemento contiene il dato
                        identificativoMessaggioRevoca legato alla trasmissione della Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="riferimentoDataRevoca" type="common:stISODate">
                <xsd:annotation>
                    <xsd:documentation>Indica la data secondo il formato ISO 8601 [YYYY]-[MM]-[DD] cui si riferisce la
                        generazione del dato riferimentoMessaggioRevoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="istitutoAttestante" type="rptrt:ctIstitutoAttestante">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "istitutoAttestante" della
                        Richiesta di Revoca (RR) cui si riferisce il messaggio di Esito Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoVersante" type="rptrt:ctSoggettoVersante" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "soggettoVersante" del
                        messaggio Richiesta di Revoca (RR) cui si riferisce il messaggio di Esito Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoPagatore" type="rptrt:ctSoggettoPagatore">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "soggettoPagatore" del
                        messaggio Richiesta di Revoca (RR) cui si riferisce il messaggio di Esito Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiRevoca" type="tns:ctDatiEsitoRevoca">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati del versamento"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- **** END: tipi complessi  ****-->


    <!-- **** BEGIN: elementi  ****-->
    <xsd:element name="RR" type="tns:ctRichiestaRevoca">
        <xsd:annotation>
            <xsd:documentation>Richiesta Revoca (RR)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="ER" type="tns:ctEsitoRevoca">
        <xsd:annotation>
            <xsd:documentation>Esito Revoca (ER)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <!-- **** END: elementi  ****-->
</xsd:schema>

