nodo/nodoPerPsp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="nodoPerPsp"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:nppsp="http://pagopa-api.pagopa.gov.it/nodo/xsd/nodoPerPsp.xsd"
                  xmlns:tns="http://pagopa-api.pagopa.gov.it/nodo/nodoPerPsp.wsdl"
                  targetNamespace="http://pagopa-api.pagopa.gov.it/nodo/nodoPerPsp.wsdl">


    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="xsd/nodoPerPsp.xsd" namespace="http://pagopa-api.pagopa.gov.it/nodo/xsd/nodoPerPsp.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="nodoVerificaRPT">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoVerificaRPT"/>
    </wsdl:message>
    <wsdl:message name="nodoVerificaRPTResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoVerificaRPTRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoAttivaRPT">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoAttivaRPT"/>
    </wsdl:message>
    <wsdl:message name="nodoAttivaRPTResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoAttivaRPTRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoInviaRT">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoInviaRT"/>
    </wsdl:message>
    <wsdl:message name="nodoInviaRTResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoInviaRTRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoInviaFlussoRendicontazione">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoInviaFlussoRendicontazione"/>
    </wsdl:message>
    <wsdl:message name="nodoInviaFlussoRendicontazioneResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoInviaFlussoRendicontazioneRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoChiediInformativaPA">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoChiediInformativaPA"/>
    </wsdl:message>
    <wsdl:message name="nodoChiediInformativaPAResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoChiediInformativaPARisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoChiediTemplateInformativaPSP">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoChiediTemplateInformativaPSP"/>
    </wsdl:message>
    <wsdl:message name="nodoChiediTemplateInformativaPSPResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoChiediTemplateInformativaPSPRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoChiediElencoQuadraturePSP">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoChiediElencoQuadraturePSP"/>
    </wsdl:message>
    <wsdl:message name="nodoChiediElencoQuadraturePSPResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoChiediElencoQuadraturePSPRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoChiediQuadraturaPSP">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoChiediQuadraturaPSP"/>
    </wsdl:message>
    <wsdl:message name="nodoChiediQuadraturaPSPResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoChiediQuadraturaPSPRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoInviaEsitoStorno">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoInviaEsitoStorno"/>
    </wsdl:message>
    <wsdl:message name="nodoInviaEsitoStornoResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoInviaEsitoStornoRisposta"/>
    </wsdl:message>

    <wsdl:message name="nodoInviaRichiestaRevoca">
        <wsdl:part name="bodyrichiesta" element="nppsp:nodoInviaRichiestaRevoca"/>
    </wsdl:message>
    <wsdl:message name="nodoInviaRichiestaRevocaResponse">
        <wsdl:part name="bodyrisposta" element="nppsp:nodoInviaRichiestaRevocaRisposta"/>
    </wsdl:message>

    <wsdl:portType name="nodoPerPsp_PortType">
        <wsdl:operation name="nodoVerificaRPT">
            <wsdl:input message="tns:nodoVerificaRPT" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoVerificaRPT"/>
            <wsdl:output message="tns:nodoVerificaRPTResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoVerificaRPTResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoAttivaRPT">
            <wsdl:input message="tns:nodoAttivaRPT" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoAttivaRPT"/>
            <wsdl:output message="tns:nodoAttivaRPTResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoAttivaRPTResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaRT">
            <wsdl:input message="tns:nodoInviaRT" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaRT"/>
            <wsdl:output message="tns:nodoInviaRTResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaRTResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediInformativaPA">
            <wsdl:input message="tns:nodoChiediInformativaPA" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediInformativaPA"/>
            <wsdl:output message="tns:nodoChiediInformativaPAResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediInformativaPAResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediTemplateInformativaPSP">
            <wsdl:input message="tns:nodoChiediTemplateInformativaPSP" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediTemplateInformativaPSP"/>
            <wsdl:output message="tns:nodoChiediTemplateInformativaPSPResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediTemplateInformativaPSPResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaFlussoRendicontazione">
            <wsdl:input message="tns:nodoInviaFlussoRendicontazione" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaFlussoRendicontazione"/>
            <wsdl:output message="tns:nodoInviaFlussoRendicontazioneResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaFlussoRendicontazioneResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediElencoQuadraturePSP">
            <wsdl:input message="tns:nodoChiediElencoQuadraturePSP" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediElencoQuadraturePSP"/>
            <wsdl:output message="tns:nodoChiediElencoQuadraturePSPResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediElencoQuadraturePSPResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediQuadraturaPSP">
            <wsdl:input message="tns:nodoChiediQuadraturaPSP" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediQuadraturaPSP"/>
            <wsdl:output message="tns:nodoChiediQuadraturaPSPResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoChiediQuadraturaPSPResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaEsitoStorno">
            <wsdl:input message="tns:nodoInviaEsitoStorno" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaEsitoStorno"/>
            <wsdl:output message="tns:nodoInviaEsitoStornoResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaEsitoStornoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaRichiestaRevoca">
            <wsdl:input message="tns:nodoInviaRichiestaRevoca" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaRichiestaRevoca"/>
            <wsdl:output message="tns:nodoInviaRichiestaRevocaResponse" wsam:Action="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp/nodoInviaRichiestaRevocaResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="nodoPerPsp_Binding" type="tns:nodoPerPsp_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="nodoVerificaRPT">
            <soap:operation soapAction="nodoVerificaRPT"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoAttivaRPT">
            <soap:operation soapAction="nodoAttivaRPT"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaRT">
            <soap:operation soapAction="nodoInviaRT"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediInformativaPA">
            <soap:operation soapAction="nodoChiediInformativaPA"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediTemplateInformativaPSP">
            <soap:operation soapAction="nodoChiediTemplateInformativaPSP"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaFlussoRendicontazione">
            <soap:operation soapAction="nodoInviaFlussoRendicontazione"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediElencoQuadraturePSP">
            <soap:operation soapAction="nodoChiediElencoQuadraturePSP"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoChiediQuadraturaPSP">
            <soap:operation soapAction="nodoChiediQuadraturaPSP"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaEsitoStorno">
            <soap:operation soapAction="nodoInviaEsitoStorno"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="nodoInviaRichiestaRevoca">
            <soap:operation soapAction="nodoInviaRichiestaRevoca"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="nodoPerPsp_Service">
        <wsdl:port name="nodoPerPsp_Port" binding="tns:nodoPerPsp_Binding">
            <soap:address location="http://pagopa-api.pagopa.gov.it/service/nodo/nodoPerPsp"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
