common/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"
            elementFormDefault="qualified"
            targetNamespace="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd">

    <xsd:simpleType name="stText35">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="intestazionePPT">
        <xsd:sequence>
            <xsd:element name="identificativoIntermediarioPA" type="tns:stText35"/>
            <xsd:element name="identificativoStazioneIntermediarioPA" type="tns:stText35"/>
            <xsd:element name="identificativoDominio" type="tns:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="tns:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="tns:stText35"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stISODate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>

    <xsd:simpleType name="stISODateTime">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>

    <xsd:simpleType name="stText16">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText25">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodiceIdentificativoUnivoco">
        <xsd:annotation>
            <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o, in alternativa, la partita IVA
                del soggetto.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText70">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText140">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="140"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stAutenticazioneSoggetto">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:enumeration value="CNS"/><!-- CIE/CNS -->
            <xsd:enumeration value="USR"/><!-- Userid e passaword -->
            <xsd:enumeration value="OTH"/><!-- Altro -->
            <xsd:enumeration value="N/A"/><!-- Non applicabile -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodiceEsitoPagamento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]"/>
            <xsd:enumeration value="0"/><!-- Pagamento eseguito -->
            <xsd:enumeration value="1"/><!-- Pagamento non eseguito -->
            <xsd:enumeration value="2"/><!-- Pagamento parzialmente eseguito -->
            <xsd:enumeration value="3"/><!-- Decorrenza termini -->
            <xsd:enumeration value="4"/><!-- Decorrenza termini parziale -->
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stImportoDiversoDaZero">
        <xsd:restriction base="tns:stImporto">
            <xsd:minInclusive value="0.01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stNazioneProvincia">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoVersamento">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BBT"/> <!-- Bonifico Bancario di Tesoreria -->
            <xsd:enumeration value="BP"/> <!--- Bollettino Postale -->
            <xsd:enumeration value="AD"/> <!--- Addebito Diretto -->
            <xsd:enumeration value="CP"/> <!--- Carta di Pagamento -->
            <xsd:enumeration value="PO"/> <!--- Pagamento attivato presso PSP -->
            <xsd:enumeration value="OBEP"/> <!--- On-line Banking E-Payment -->
            <xsd:enumeration value="OTH"/> <!-- Altre forme di versamento -->
            <xsd:enumeration value="JIF"/>  <!-- Bancomat Pay  -->
            <xsd:enumeration value="MYBK"/>  <!-- MyBank Seller Bank -->
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stDatiSpecificiRiscossione">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0129]/\S{3,138}"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stFirmaRicevuta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/><!-- Firma non richiesta -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivoco">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="G"/><!-- Persona Giuridica -->
            <xsd:enumeration value="A"/><!-- Codice ABI -->
            <xsd:enumeration value="B"/><!-- Codice BIC -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivocoPersFG">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="F"/><!-- Persona Fisica -->
            <xsd:enumeration value="G"/><!-- Persona Giuridica -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivocoPersG">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="G"/><!-- Persona Giuridica -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stBICIdentifier">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stTipoBollo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="01"/><!-- Imposta di bollo -->
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoAllegatoRicevuta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ES"/><!-- Esito originario pagamento (come ricevuto da PSP) -->
            <xsd:enumeration value="BD"/><!-- Marca da bollo digitale  -->
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stBase64">
        <xsd:restriction base="xsd:base64Binary">
        </xsd:restriction>
    </xsd:simpleType>


    <!-- Tabella T2 Sigla delle province italiane, Agenzia delle Entrate  -->
    <xsd:simpleType name="stSiglaProvinceAde">
        <xsd:annotation>
            <xsd:documentation>Tabella T2 Sigla delle province italiane, Agenzia delle Entrate --NON PIU UTILIZZATA
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AG"/> <!-- Agrigento  -->
            <xsd:enumeration value="AL"/> <!-- Alessandria  -->
            <xsd:enumeration value="AN"/> <!-- Ancona  -->
            <xsd:enumeration value="AO"/> <!-- Aosta  -->
            <xsd:enumeration value="AP"/> <!-- Ascoli Piceno  -->
            <xsd:enumeration value="AQ"/> <!-- L'Aquila  -->
            <xsd:enumeration value="AR"/> <!-- Arezzo  -->
            <xsd:enumeration value="AT"/> <!-- Asti  -->
            <xsd:enumeration value="AV"/> <!-- Avellino  -->
            <xsd:enumeration value="BA"/> <!-- Bari  -->
            <xsd:enumeration value="BG"/> <!-- Bergamo  -->
            <xsd:enumeration value="BI"/> <!-- Biella  -->
            <xsd:enumeration value="BL"/> <!-- Belluno  -->
            <xsd:enumeration value="BN"/> <!-- Benevento  -->
            <xsd:enumeration value="BO"/> <!-- Bologna  -->
            <xsd:enumeration value="BR"/> <!-- Brindisi  -->
            <xsd:enumeration value="BS"/> <!-- Brescia  -->
            <xsd:enumeration value="BT"/> <!-- Barletta-Andria-Trani  -->
            <xsd:enumeration value="BZ"/> <!-- Bolzano  -->
            <xsd:enumeration value="CA"/> <!-- Cagliari  -->
            <xsd:enumeration value="CB"/> <!-- Campobasso  -->
            <xsd:enumeration value="CE"/> <!-- Caserta  -->
            <xsd:enumeration value="CH"/> <!-- Chieti  -->
            <xsd:enumeration value="CI"/> <!-- Carbonia Iglesias  -->
            <xsd:enumeration value="CL"/> <!-- Caltanisetta  -->
            <xsd:enumeration value="CN"/> <!-- Cuneo  -->
            <xsd:enumeration value="CO"/> <!-- Como  -->
            <xsd:enumeration value="CR"/> <!-- Cremona  -->
            <xsd:enumeration value="CS"/> <!-- Cosenza  -->
            <xsd:enumeration value="CT"/> <!-- Catania  -->
            <xsd:enumeration value="CZ"/> <!-- Catanzaro  -->
            <xsd:enumeration value="EN"/> <!-- Enna  -->
            <xsd:enumeration value="FC"/> <!-- Forlì-Cesena  -->
            <xsd:enumeration value="FE"/> <!-- Ferrara  -->
            <xsd:enumeration value="FG"/> <!-- Foggia  -->
            <xsd:enumeration value="FI"/> <!-- Firenze  -->
            <xsd:enumeration value="FM"/> <!-- Fermo  -->
            <xsd:enumeration value="FR"/> <!-- Frosinone  -->
            <xsd:enumeration value="GE"/> <!-- Genova  -->
            <xsd:enumeration value="GO"/> <!-- Gorizia  -->
            <xsd:enumeration value="GR"/> <!-- Gorizia  -->
            <xsd:enumeration value="IM"/> <!-- Imperia  -->
            <xsd:enumeration value="IS"/> <!-- Isernia  -->
            <xsd:enumeration value="KR"/> <!-- Crotone  -->
            <xsd:enumeration value="LC"/> <!-- Lecco  -->
            <xsd:enumeration value="LE"/> <!-- Lecce  -->
            <xsd:enumeration value="LI"/> <!-- Livorno  -->
            <xsd:enumeration value="LO"/> <!-- Lodi  -->
            <xsd:enumeration value="LT"/> <!-- Latina  -->
            <xsd:enumeration value="LU"/> <!-- Lucca  -->
            <xsd:enumeration value="MB"/> <!-- Monza-Brianza  -->
            <xsd:enumeration value="MC"/> <!-- Macerata  -->
            <xsd:enumeration value="ME"/> <!-- Messina  -->
            <xsd:enumeration value="MI"/> <!-- Milano  -->
            <xsd:enumeration value="MN"/> <!-- Mantova  -->
            <xsd:enumeration value="MO"/> <!-- Modena  -->
            <xsd:enumeration value="MS"/> <!-- Massa Carrara  -->
            <xsd:enumeration value="MT"/> <!-- Matera  -->
            <xsd:enumeration value="NA"/> <!-- Napoli  -->
            <xsd:enumeration value="NO"/> <!-- Novara  -->
            <xsd:enumeration value="NU"/> <!-- Nuoro  -->
            <xsd:enumeration value="OG"/> <!-- Ogliara  -->
            <xsd:enumeration value="OR"/> <!-- Oristano  -->
            <xsd:enumeration value="OT"/> <!-- Olbia-Tempio  -->
            <xsd:enumeration value="PA"/> <!-- Palermo  -->
            <xsd:enumeration value="PC"/> <!-- Piacenza  -->
            <xsd:enumeration value="PD"/> <!-- Padova  -->
            <xsd:enumeration value="PE"/> <!-- Pescara  -->
            <xsd:enumeration value="PG"/> <!-- Perugia  -->
            <xsd:enumeration value="PI"/> <!-- Pisa  -->
            <xsd:enumeration value="PN"/> <!-- Pordenone  -->
            <xsd:enumeration value="PO"/> <!-- Prato  -->
            <xsd:enumeration value="PR"/> <!-- Parma  -->
            <xsd:enumeration value="PT"/> <!-- Pistoia  -->
            <xsd:enumeration value="PU"/> <!-- Pesaro-Urbino  -->
            <xsd:enumeration value="PV"/> <!-- Pavia  -->
            <xsd:enumeration value="PZ"/> <!-- Potenza  -->
            <xsd:enumeration value="RA"/> <!-- Ravenna  -->
            <xsd:enumeration value="RC"/> <!-- Reggio Calabria  -->
            <xsd:enumeration value="RE"/> <!-- Reggio Emilia  -->
            <xsd:enumeration value="RG"/> <!-- Ragusa  -->
            <xsd:enumeration value="RI"/> <!-- Rieti  -->
            <xsd:enumeration value="RM"/> <!-- Roma  -->
            <xsd:enumeration value="RN"/> <!-- Rimini  -->
            <xsd:enumeration value="RO"/> <!-- Rovigo  -->
            <xsd:enumeration value="SA"/> <!-- Salerno  -->
            <xsd:enumeration value="SI"/> <!-- Siena  -->
            <xsd:enumeration value="SO"/> <!-- Sondrio  -->
            <xsd:enumeration value="SP"/> <!-- La Spezia  -->
            <xsd:enumeration value="SR"/> <!-- Siracusa  -->
            <xsd:enumeration value="SS"/> <!-- Sassari  -->
            <xsd:enumeration value="SU"/> <!-- Sud Sardegna  -->
            <xsd:enumeration value="SV"/> <!-- Savona  -->
            <xsd:enumeration value="TA"/> <!-- Taranto  -->
            <xsd:enumeration value="TE"/> <!-- Teramo  -->
            <xsd:enumeration value="TN"/> <!-- Trento  -->
            <xsd:enumeration value="TO"/> <!-- Torino  -->
            <xsd:enumeration value="TP"/> <!-- Trapani  -->
            <xsd:enumeration value="TR"/> <!-- Terni  -->
            <xsd:enumeration value="TS"/> <!-- Trieste  -->
            <xsd:enumeration value="TV"/> <!-- Treviso  -->
            <xsd:enumeration value="UD"/> <!-- Udine  -->
            <xsd:enumeration value="VA"/> <!-- Varese  -->
            <xsd:enumeration value="VB"/> <!-- Verbania  -->
            <xsd:enumeration value="VC"/> <!-- Vercelli  -->
            <xsd:enumeration value="VE"/> <!-- Venezia  -->
            <xsd:enumeration value="VI"/> <!-- Vicenza  -->
            <xsd:enumeration value="VR"/> <!-- Verona  -->
            <xsd:enumeration value="VS"/> <!-- Medio Campitano  -->
            <xsd:enumeration value="VT"/> <!-- Viterbo  -->
            <xsd:enumeration value="VV"/> <!-- Vibo Valentia  -->
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stCausaleVersamento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(^/RFB|^/RFS)(/[0-9a-zA-Z]{13,35})(/\d+\.\d{2})?((/TXT)(/.{1,140})|)?"/>
            <xsd:maxLength value="140"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stTipoAzioneAggiornamento">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="A"/><!-- Attivazione -->
            <xsd:enumeration value="D"/><!-- Disattivazione -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stEsitoOperazione">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:enumeration value="OK"/>
            <xsd:enumeration value="KO"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdentificativoMessaggioRichiesta">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stImporto">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.01"/>
            <xsd:fractionDigits value="2"/>
            <xsd:totalDigits value="18"/>
            <xsd:pattern value="\d+\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCellulareSoggetto">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\+[0-9]{2}\s[0-9]{3}-[0-9]{7}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stEMail">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*"/>
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdentificativoFlusso">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodiceAvviso">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{18}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctFaultBean">
        <xsd:sequence>
            <xsd:element name="faultCode" type="xsd:string"/>
            <xsd:element name="faultString" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serial" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ctRisposta">
        <xsd:sequence>
            <xsd:element name="fault" type="tns:ctFaultBean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctPeriodoRiferimento">
        <xsd:sequence>
            <xsd:element name="annoDA" type="xsd:gYear"/>
            <xsd:element name="annoA" type="xsd:gYear"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stCodiceServizio">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIBANIdentifier">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoPagamento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]"/>
            <xsd:enumeration value="0"/><!-- Contestuale -->
            <xsd:enumeration value="1"/><!-- Non contestuale -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdentificativoServizio">
        <xsd:restriction base="xsd:string">
            <xsd:length value="5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText18">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="18"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stCodIUV">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5,15}|[0-9]{17}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stAuxDigit">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:pattern value="[0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stApplicationCode">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctSpezzoniCausaleVersamento">
        <xsd:sequence maxOccurs="6">
            <xsd:choice>
                <xsd:element type="tns:stText35" name="spezzoneCausaleVersamento"/>
                <xsd:element type="tns:ctSpezzoneStrutturatoCausaleVersamento"
                             name="spezzoneStrutturatoCausaleVersamento"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctSpezzoneStrutturatoCausaleVersamento">
        <xsd:sequence>
            <xsd:element type="tns:stText25" name="causaleSpezzone"/>
            <xsd:element type="tns:stImporto" name="importoSpezzone"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stZeroUno">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stZero">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stUno">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctQuadraturaRPT">
        <xsd:sequence>
            <xsd:element type="tns:ctListaTotaliRPT" name="listaTotali"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctListaTotaliRPT">
        <xsd:sequence>
            <xsd:element type="tns:ctTotaliAggregatiRPT" name="totaliAggregati" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctTotali">
        <xsd:sequence>
            <xsd:element type="tns:stTotaleImporti" name="totaleImporti"/>
            <xsd:element type="tns:stTotaleOggetti" name="totaleOggetti"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctTotaliAggregatiRPT">
        <xsd:sequence>
            <xsd:element type="tns:stText35" name="identificativoDominioMittente"/>
            <xsd:element type="tns:stText35" name="identificativoStazioneIntermediarioPAMittente"/>
            <xsd:element type="tns:stText35" name="identificativoIntermediarioPSPDestinatario"/>
            <xsd:element type="tns:ctTotali" name="totaliInAttesa"/>
            <xsd:element type="tns:ctTotali" name="totaliConsegnate"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stTotaleImporti">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.00"/>
            <xsd:maxInclusive value="99999999.99"/>
            <xsd:fractionDigits value="2"/>
            <xsd:totalDigits value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTotaleOggetti">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText255">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="255" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText40">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>




    <xsd:simpleType name="stCCPost">
        <xsd:restriction base="xsd:string">
            <xsd:length value="12"/>
            <xsd:pattern value="[0-9]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCF">
        <xsd:restriction base="xsd:string">
            <xsd:length value="11"/>
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stCodStazPA">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="stPassword">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="8" />
            <xsd:maxLength value="15" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stModelloPagamento">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/> <!-- Modello di pagamento immediato (con redirezione) -->
            <xsd:enumeration value="1"/> <!-- Modello di pagamento immediato multibeneficiario -->
            <xsd:enumeration value="2"/> <!-- Modello di pagamento differito -->
            <xsd:enumeration value="4"/> <!--- Modello di pagamento attivato presso il psp -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText6">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6" />
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>