common/xsd/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"
            targetNamespace="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd">

    <xsd:simpleType name="stText35">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="intestazionePPT">
        <xsd:sequence>
            <xsd:element name="identificativoIntermediarioPA" type="tns:stText35"/>
            <xsd:element name="identificativoStazioneIntermediarioPA" type="tns:stText35"/>
            <xsd:element name="identificativoDominio" type="tns:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="tns:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="tns:stText35"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stISODate">
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>

    <xsd:simpleType name="stISODateTime">
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>

    <xsd:simpleType name="stText16">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText25">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodiceIdentificativoUnivoco">
        <xsd:annotation>
            <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o, in alternativa, la partita IVA
                del soggetto.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="16"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText70">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText140">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="140"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stAutenticazioneSoggetto">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:enumeration value="CNS"/><!-- CIE/CNS -->
            <xsd:enumeration value="USR"/><!-- Userid e passaword -->
            <xsd:enumeration value="OTH"/><!-- Altro -->
            <xsd:enumeration value="N/A"/><!-- Non applicabile -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodiceEsitoPagamento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]"/>
            <xsd:enumeration value="0"/><!-- Pagamento eseguito -->
            <xsd:enumeration value="1"/><!-- Pagamento non eseguito -->
            <xsd:enumeration value="2"/><!-- Pagamento parzialmente eseguito -->
            <xsd:enumeration value="3"/><!-- Decorrenza termini -->
            <xsd:enumeration value="4"/><!-- Decorrenza termini parziale -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stImportoDiversoDaZero">
        <xsd:restriction base="tns:stImporto">
            <xsd:minInclusive value="0.01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stNazioneProvincia">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoVersamento">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BBT"/> <!-- Bonifico Bancario di Tesoreria -->
            <xsd:enumeration value="BP"/> <!--- Bollettino Postale -->
            <xsd:enumeration value="AD"/> <!--- Addebito Diretto -->
            <xsd:enumeration value="CP"/> <!--- Carta di Pagamento -->
            <xsd:enumeration value="PO"/> <!--- Pagamento attivato presso PSP -->
            <xsd:enumeration value="OBEP"/> <!--- On-line Banking E-Payment -->
            <xsd:enumeration value="OTH"/> <!-- Altre forme di versamento -->
            <xsd:enumeration value="JIF"/>  <!-- Bancomat Pay  -->
            <xsd:enumeration value="MYBK"/>  <!-- MyBank Seller Bank -->
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stDatiSpecificiRiscossione">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0129]/\S{3,138}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stFirmaRicevuta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/><!-- Firma non richiesta -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivoco">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="G"/><!-- Persona Giuridica -->
            <xsd:enumeration value="A"/><!-- Codice ABI -->
            <xsd:enumeration value="B"/><!-- Codice BIC -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivocoPersFG">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="F"/><!-- Persona Fisica -->
            <xsd:enumeration value="G"/><!-- Persona Giuridica -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoIdentificativoUnivocoPersG">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="G"/><!-- Persona Giuridica -->
            <xsd:length value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stBICIdentifier">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoBollo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="01"/><!-- Imposta di bollo -->
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoAllegatoRicevuta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ES"/><!-- Esito originario pagamento (come ricevuto da PSP) -->
            <xsd:enumeration value="BD"/><!-- Marca da bollo digitale  -->
            <xsd:length value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stBase64">
        <xsd:restriction base="xsd:base64Binary">
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stSiglaProvinceAde">
        <xsd:annotation>
            <xsd:documentation>Tabella T2 Sigla delle province italiane, Agenzia delle Entrate --NON PIU UTILIZZATA
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="AG"/> <!-- Agrigento  -->
            <xsd:enumeration value="AL"/> <!-- Alessandria  -->
            <xsd:enumeration value="AN"/> <!-- Ancona  -->
            <xsd:enumeration value="AO"/> <!-- Aosta  -->
            <xsd:enumeration value="AP"/> <!-- Ascoli Piceno  -->
            <xsd:enumeration value="AQ"/> <!-- L'Aquila  -->
            <xsd:enumeration value="AR"/> <!-- Arezzo  -->
            <xsd:enumeration value="AT"/> <!-- Asti  -->
            <xsd:enumeration value="AV"/> <!-- Avellino  -->
            <xsd:enumeration value="BA"/> <!-- Bari  -->
            <xsd:enumeration value="BG"/> <!-- Bergamo  -->
            <xsd:enumeration value="BI"/> <!-- Biella  -->
            <xsd:enumeration value="BL"/> <!-- Belluno  -->
            <xsd:enumeration value="BN"/> <!-- Benevento  -->
            <xsd:enumeration value="BO"/> <!-- Bologna  -->
            <xsd:enumeration value="BR"/> <!-- Brindisi  -->
            <xsd:enumeration value="BS"/> <!-- Brescia  -->
            <xsd:enumeration value="BT"/> <!-- Barletta-Andria-Trani  -->
            <xsd:enumeration value="BZ"/> <!-- Bolzano  -->
            <xsd:enumeration value="CA"/> <!-- Cagliari  -->
            <xsd:enumeration value="CB"/> <!-- Campobasso  -->
            <xsd:enumeration value="CE"/> <!-- Caserta  -->
            <xsd:enumeration value="CH"/> <!-- Chieti  -->
            <xsd:enumeration value="CI"/> <!-- Carbonia Iglesias  -->
            <xsd:enumeration value="CL"/> <!-- Caltanisetta  -->
            <xsd:enumeration value="CN"/> <!-- Cuneo  -->
            <xsd:enumeration value="CO"/> <!-- Como  -->
            <xsd:enumeration value="CR"/> <!-- Cremona  -->
            <xsd:enumeration value="CS"/> <!-- Cosenza  -->
            <xsd:enumeration value="CT"/> <!-- Catania  -->
            <xsd:enumeration value="CZ"/> <!-- Catanzaro  -->
            <xsd:enumeration value="EN"/> <!-- Enna  -->
            <xsd:enumeration value="FC"/> <!-- Forlì-Cesena  -->
            <xsd:enumeration value="FE"/> <!-- Ferrara  -->
            <xsd:enumeration value="FG"/> <!-- Foggia  -->
            <xsd:enumeration value="FI"/> <!-- Firenze  -->
            <xsd:enumeration value="FM"/> <!-- Fermo  -->
            <xsd:enumeration value="FR"/> <!-- Frosinone  -->
            <xsd:enumeration value="GE"/> <!-- Genova  -->
            <xsd:enumeration value="GO"/> <!-- Gorizia  -->
            <xsd:enumeration value="GR"/> <!-- Gorizia  -->
            <xsd:enumeration value="IM"/> <!-- Imperia  -->
            <xsd:enumeration value="IS"/> <!-- Isernia  -->
            <xsd:enumeration value="KR"/> <!-- Crotone  -->
            <xsd:enumeration value="LC"/> <!-- Lecco  -->
            <xsd:enumeration value="LE"/> <!-- Lecce  -->
            <xsd:enumeration value="LI"/> <!-- Livorno  -->
            <xsd:enumeration value="LO"/> <!-- Lodi  -->
            <xsd:enumeration value="LT"/> <!-- Latina  -->
            <xsd:enumeration value="LU"/> <!-- Lucca  -->
            <xsd:enumeration value="MB"/> <!-- Monza-Brianza  -->
            <xsd:enumeration value="MC"/> <!-- Macerata  -->
            <xsd:enumeration value="ME"/> <!-- Messina  -->
            <xsd:enumeration value="MI"/> <!-- Milano  -->
            <xsd:enumeration value="MN"/> <!-- Mantova  -->
            <xsd:enumeration value="MO"/> <!-- Modena  -->
            <xsd:enumeration value="MS"/> <!-- Massa Carrara  -->
            <xsd:enumeration value="MT"/> <!-- Matera  -->
            <xsd:enumeration value="NA"/> <!-- Napoli  -->
            <xsd:enumeration value="NO"/> <!-- Novara  -->
            <xsd:enumeration value="NU"/> <!-- Nuoro  -->
            <xsd:enumeration value="OG"/> <!-- Ogliara  -->
            <xsd:enumeration value="OR"/> <!-- Oristano  -->
            <xsd:enumeration value="OT"/> <!-- Olbia-Tempio  -->
            <xsd:enumeration value="PA"/> <!-- Palermo  -->
            <xsd:enumeration value="PC"/> <!-- Piacenza  -->
            <xsd:enumeration value="PD"/> <!-- Padova  -->
            <xsd:enumeration value="PE"/> <!-- Pescara  -->
            <xsd:enumeration value="PG"/> <!-- Perugia  -->
            <xsd:enumeration value="PI"/> <!-- Pisa  -->
            <xsd:enumeration value="PN"/> <!-- Pordenone  -->
            <xsd:enumeration value="PO"/> <!-- Prato  -->
            <xsd:enumeration value="PR"/> <!-- Parma  -->
            <xsd:enumeration value="PT"/> <!-- Pistoia  -->
            <xsd:enumeration value="PU"/> <!-- Pesaro-Urbino  -->
            <xsd:enumeration value="PV"/> <!-- Pavia  -->
            <xsd:enumeration value="PZ"/> <!-- Potenza  -->
            <xsd:enumeration value="RA"/> <!-- Ravenna  -->
            <xsd:enumeration value="RC"/> <!-- Reggio Calabria  -->
            <xsd:enumeration value="RE"/> <!-- Reggio Emilia  -->
            <xsd:enumeration value="RG"/> <!-- Ragusa  -->
            <xsd:enumeration value="RI"/> <!-- Rieti  -->
            <xsd:enumeration value="RM"/> <!-- Roma  -->
            <xsd:enumeration value="RN"/> <!-- Rimini  -->
            <xsd:enumeration value="RO"/> <!-- Rovigo  -->
            <xsd:enumeration value="SA"/> <!-- Salerno  -->
            <xsd:enumeration value="SI"/> <!-- Siena  -->
            <xsd:enumeration value="SO"/> <!-- Sondrio  -->
            <xsd:enumeration value="SP"/> <!-- La Spezia  -->
            <xsd:enumeration value="SR"/> <!-- Siracusa  -->
            <xsd:enumeration value="SS"/> <!-- Sassari  -->
            <xsd:enumeration value="SU"/> <!-- Sud Sardegna  -->
            <xsd:enumeration value="SV"/> <!-- Savona  -->
            <xsd:enumeration value="TA"/> <!-- Taranto  -->
            <xsd:enumeration value="TE"/> <!-- Teramo  -->
            <xsd:enumeration value="TN"/> <!-- Trento  -->
            <xsd:enumeration value="TO"/> <!-- Torino  -->
            <xsd:enumeration value="TP"/> <!-- Trapani  -->
            <xsd:enumeration value="TR"/> <!-- Terni  -->
            <xsd:enumeration value="TS"/> <!-- Trieste  -->
            <xsd:enumeration value="TV"/> <!-- Treviso  -->
            <xsd:enumeration value="UD"/> <!-- Udine  -->
            <xsd:enumeration value="VA"/> <!-- Varese  -->
            <xsd:enumeration value="VB"/> <!-- Verbania  -->
            <xsd:enumeration value="VC"/> <!-- Vercelli  -->
            <xsd:enumeration value="VE"/> <!-- Venezia  -->
            <xsd:enumeration value="VI"/> <!-- Vicenza  -->
            <xsd:enumeration value="VR"/> <!-- Verona  -->
            <xsd:enumeration value="VS"/> <!-- Medio Campitano  -->
            <xsd:enumeration value="VT"/> <!-- Viterbo  -->
            <xsd:enumeration value="VV"/> <!-- Vibo Valentia  -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCausaleVersamento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="(^/RFB|^/RFS)(/[0-9a-zA-Z]{13,35})(/\d+\.\d{2})?((/TXT)(/.{1,140})|)?"/>
            <xsd:maxLength value="140"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoAzioneAggiornamento">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="A"/><!-- Attivazione -->
            <xsd:enumeration value="D"/><!-- Disattivazione -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stEsitoOperazione">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:enumeration value="OK"/>
            <xsd:enumeration value="KO"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdentificativoMessaggioRichiesta">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stImporto">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.01"/>
            <xsd:fractionDigits value="2"/>
            <xsd:totalDigits value="18"/>
            <xsd:pattern value="\d+\.\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCellulareSoggetto">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\+[0-9]{2}\s[0-9]{3}-[0-9]{7}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stEMail">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9_.+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*"/>
            <xsd:maxLength value="256"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdentificativoFlusso">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="70"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodiceAvviso">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{18}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctFaultBean">
        <xsd:sequence>
            <xsd:element name="faultCode" type="xsd:string"/>
            <xsd:element name="faultString" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serial" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctRisposta">
        <xsd:sequence>
            <xsd:element name="fault" type="tns:ctFaultBean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctPeriodoRiferimento">
        <xsd:sequence>
            <xsd:element name="annoDA" type="xsd:gYear"/>
            <xsd:element name="annoA" type="xsd:gYear"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stCodiceServizio">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIBANIdentifier">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoPagamento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]"/>
            <xsd:enumeration value="0"/><!-- Contestuale -->
            <xsd:enumeration value="1"/><!-- Non contestuale -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdentificativoServizio">
        <xsd:restriction base="xsd:string">
            <xsd:length value="5"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText18">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="18"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodIUV">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5,15}|[0-9]{17}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stAuxDigit">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:pattern value="[0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stApplicationCode">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctSpezzoniCausaleVersamento">
        <xsd:sequence maxOccurs="6">
            <xsd:choice>
                <xsd:element type="tns:stText35" name="spezzoneCausaleVersamento"/>
                <xsd:element type="tns:ctSpezzoneStrutturatoCausaleVersamento"
                             name="spezzoneStrutturatoCausaleVersamento"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctSpezzoneStrutturatoCausaleVersamento">
        <xsd:sequence>
            <xsd:element type="tns:stText25" name="causaleSpezzone"/>
            <xsd:element type="tns:stImporto" name="importoSpezzone"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stZeroUno">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stZero">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stUno">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctQuadraturaRPT">
        <xsd:sequence>
            <xsd:element type="tns:ctListaTotaliRPT" name="listaTotali"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctListaTotaliRPT">
        <xsd:sequence>
            <xsd:element type="tns:ctTotaliAggregatiRPT" name="totaliAggregati" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctTotali">
        <xsd:sequence>
            <xsd:element type="tns:stTotaleImporti" name="totaleImporti"/>
            <xsd:element type="tns:stTotaleOggetti" name="totaleOggetti"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ctTotaliAggregatiRPT">
        <xsd:sequence>
            <xsd:element type="tns:stText35" name="identificativoDominioMittente"/>
            <xsd:element type="tns:stText35" name="identificativoStazioneIntermediarioPAMittente"/>
            <xsd:element type="tns:stText35" name="identificativoIntermediarioPSPDestinatario"/>
            <xsd:element type="tns:ctTotali" name="totaliInAttesa"/>
            <xsd:element type="tns:ctTotali" name="totaliConsegnate"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stTotaleImporti">
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0.00"/>
            <xsd:maxInclusive value="99999999.99"/>
            <xsd:fractionDigits value="2"/>
            <xsd:totalDigits value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTotaleOggetti">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText255">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="255" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText40">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCCPost">
        <xsd:restriction base="xsd:string">
            <xsd:length value="12"/>
            <xsd:pattern value="[0-9]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCF">
        <xsd:restriction base="xsd:string">
            <xsd:length value="11"/>
            <xsd:pattern value="[0-9]{11}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stCodStazPA">
        <xsd:restriction base="xsd:string">
            <xsd:length value="2"/>
            <xsd:pattern value="[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stPassword">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="8" />
            <xsd:maxLength value="15" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stModelloPagamento">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/> <!-- Modello di pagamento immediato (con redirezione) -->
            <xsd:enumeration value="1"/> <!-- Modello di pagamento immediato multibeneficiario -->
            <xsd:enumeration value="2"/> <!-- Modello di pagamento differito -->
            <xsd:enumeration value="4"/> <!--- Modello di pagamento attivato presso il psp -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stText6">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6" />
        </xsd:restriction>
    </xsd:simpleType>

    <!-- RPT RT-->
    <xsd:complexType name="ctDominio">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico contenente il codice fiscale della struttura che invia la
                        richiesta di pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoStazioneRichiedente" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Identifica la stazione richiedente il pagamento. Nella fattispecie assume il
                        codice del PdA richiedente o quello del Portale del ministero.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiMarcaBolloDigitale">
        <xsd:sequence>
            <xsd:element name="tipoBollo" type="tns:stTipoBollo">
                <xsd:annotation>
                    <xsd:documentation>Contiene la tipologia di Bollo Digitale.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hashDocumento" type="xsd:base64Binary">
                <xsd:annotation>
                    <xsd:documentation>Contiene l’impronta informatica (digest), rappresentata in "base 64 binary", del
                        documento informatico o della segnatura di protocollo cui è associata la marca da bollo digitale
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaResidenza" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Sigla automobilistica della provincia di residenza del soggetto pagatore.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctAllegatoRicevuta">
        <xsd:sequence>
            <xsd:element name="tipoAllegatoRicevuta" type="tns:stTipoAllegatoRicevuta">
                <xsd:annotation>
                    <xsd:documentation>Identifica il tipo di allegato trasportato con la RT.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="testoAllegato" type="tns:stBase64">
                <xsd:annotation>
                    <xsd:documentation>Contiene l’allegato vero e proprio, il cui significato è indicato dal dato
                        tipoAllegatoRicevuta.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIdentificativoUnivoco">
        <xsd:sequence>
            <xsd:element name="tipoIdentificativoUnivoco" type="tns:stTipoIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che indica la natura del soggetto, può assumere i seguenti
                        valori:
                    </xsd:documentation>
                    <xsd:documentation>G - Persona Giuridica</xsd:documentation>
                    <xsd:documentation>A - Codice ABI</xsd:documentation>
                    <xsd:documentation>B - Codice BIC</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceIdentificativoUnivoco" type="tns:stCodiceIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o la partita IVA del
                        soggetto o il codice ABI o il codice BIC
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIdentificativoUnivocoPersonaFG">
        <xsd:sequence>
            <xsd:element name="tipoIdentificativoUnivoco" type="tns:stTipoIdentificativoUnivocoPersFG">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che indica la natura del soggetto, può assumere i seguenti
                        valori:
                    </xsd:documentation>
                    <xsd:documentation>F - Persona Fisica</xsd:documentation>
                    <xsd:documentation>G - Persona Giuridica</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceIdentificativoUnivoco" type="tns:stCodiceIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o, in alternativa, la
                        partita IVA del soggetto.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIdentificativoUnivocoPersonaG">
        <xsd:sequence>
            <xsd:element name="tipoIdentificativoUnivoco" type="tns:stTipoIdentificativoUnivocoPersG">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che indica la natura del soggetto, può assumere i seguenti
                        valori:
                    </xsd:documentation>
                    <xsd:documentation>G - Persona Giuridica</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceIdentificativoUnivoco" type="tns:stCodiceIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o, in alternativa, la
                        partita IVA del soggetto.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctSoggettoVersante">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoVersante" type="tns:ctIdentificativoUnivocoPersonaFG">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        del versante.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anagraficaVersante" type="tns:stText70">
                <xsd:annotation>
                    <xsd:documentation>Indica il nominativo o la ragione sociale del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoVersante" type="tns:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoVersante" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capVersante" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaVersante" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaVersante" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazioneVersante" type="tns:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione del versante secondo lo standard ISO 3166.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="e-mailVersante" type="tns:stEMail" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indirizzo di posta elettronica del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctSoggettoPagatore">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoPagatore" type="tns:ctIdentificativoUnivocoPersonaFG">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        del pagatore.
                    </xsd:documentation>
                    <xsd:documentation>Qualora non sia in grado di identificare fiscalmente il pagatore, si suggerisce
                        di utilizzare il codice fiscale "ANONIMO"
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anagraficaPagatore" type="tns:stText70">
                <xsd:annotation>
                    <xsd:documentation>Indica il nominativo o la ragione sociale del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoPagatore" type="tns:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoPagatore" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capPagatore" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaPagatore" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaPagatore" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazionePagatore" type="tns:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione del pagatore secondo lo standard ISO 3166.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="e-mailPagatore" type="tns:stEMail" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indirizzo di posta elettronica del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctEnteBeneficiario">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoBeneficiario" type="tns:ctIdentificativoUnivocoPersonaG">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        dell’ente beneficiario.
                    </xsd:documentation>
                    <xsd:documentation>tipo_identificativo_univoco - se presente deve assumere il valore ‘G’, Persona
                        Giuridica.
                    </xsd:documentation>
                    <xsd:documentation>codice_identificativo_univoco - contenente il codice fiscale dell’amministrazione
                        destinataria del pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denominazioneBeneficiario" type="tns:stText70">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione della PA.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceUnitOperBeneficiario" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denomUnitOperBeneficiario" type="tns:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoBeneficiario" type="tns:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo dell’ente beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoBeneficiario" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico del beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capBeneficiario" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP dell’ente beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaBeneficiario" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località dell’ente beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaBeneficiario" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia del beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazioneBeneficiario" type="tns:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione dell’ente beneficiario secondo lo standard ISO 3166.
                    </xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIstitutoAttestante">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoAttestante" type="tns:ctIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        dell’Istituto attestante il pagamento.
                    </xsd:documentation>
                    <xsd:documentation>tipo_identificativo_univoco - deve assumere il valore ‘G’, Persona Giuridica.
                    </xsd:documentation>
                    <xsd:documentation>codice_identificativo_univoco - Campo alfanumerico che può contenere il codice
                        fiscale o, in alternativa, la partita IVA dell’Istituto attestante il pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denominazioneAttestante" type="tns:stText70">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione dell’Istituto finanziario che emette il documento di
                        attestazione dell’avvenuto versamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceUnitOperAttestante" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice dell’unità operativa che rilascia la quietanza.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denomUnitOperAttestante" type="tns:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione dell’unità operativa attestante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoAttestante" type="tns:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoAttestante" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico dell'attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capAttestante" type="tns:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaAttestante" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaAttestante" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazioneAttestante" type="tns:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione dell’attestante secondo lo standard ISO 3166.
                    </xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiSingoloVersamentoRPT">
        <xsd:sequence>
            <xsd:element name="importoSingoloVersamento" type="tns:stImportoDiversoDaZero">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma da versare. Deve essere diverso da "0.00".
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="commissioneCaricoPA" type="tns:stImportoDiversoDaZero" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma da versare. Il data è riportato a solo
                        titolo indicativo e non comporta attività a carico del PSP. Se presente deve essere diverso da
                        "0.00".
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ibanAccredito" type="tns:stIBANIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifica l’International Bank Account Number, definito secondo lo standard ISO
                        13616, del conto da accreditare presso la Banca di accredito indicata dall’ente creditore, di
                        norma la Banca Tesoriera.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bicAccredito" type="tns:stBICIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bank Identifier Code definito secondo lo standard ISO 9362.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ibanAppoggio" type="tns:stIBANIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifica l’International Bank Account Number,, definito secondo lo standard ISO
                        13616, del conto da accreditare presso un PSP che provvederà a trasferire, nei tempi previsti
                        dal DM, i fondi incassati sul conto indicato nell’elemento ibanAccredito.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bicAppoggio" type="tns:stBICIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bank Identifier Code definito secondo lo standard ISO 9362 dell’elemento
                        ibanAppoggio
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="credenzialiPagatore" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Eventuali credenziali richieste dal Prestatore di servizi di Pagamento necessarie
                        per completare l’operazione (ad esempio: un codice bilaterale utilizzabile una sola volta).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleVersamento" type="tns:stText140">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta la descrizione estesa della causale del versamento. Può assumere i
                        seguenti valori:
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSpecificiRiscossione" type="tns:stDatiSpecificiRiscossione">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta l’indicazione dell’imputazione della specifica entrata ed è così
                        articolato:
                    </xsd:documentation>
                    <xsd:documentation>"tipo contabilità"/"codice contabilità", dove "tipo contabilità" può assumere i
                        seguenti valori :
                    </xsd:documentation>
                    <xsd:documentation>0 Capitolo e articolo di Entrata del Bilancio dello stato</xsd:documentation>
                    <xsd:documentation>1 Numero della contabilità speciale</xsd:documentation>
                    <xsd:documentation>2 Codice SIOPE</xsd:documentation>
                    <xsd:documentation>9 Altro codice ad uso dell’amministrazione</xsd:documentation>
                    <xsd:documentation>Esempio: 0/3321.00 per indicare il Contributo Unificato delle spese di
                        giustizia
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiMarcaBolloDigitale" type="tns:ctDatiMarcaBolloDigitale" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che contiene le informazioni necessarie al PSP per generare la marca
                        da bollo digitale.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiVersamentoRPT">
        <xsd:sequence>
            <xsd:element name="dataEsecuzionePagamento" type="tns:stISODate">
                <xsd:annotation>
                    <xsd:documentation>Indica la data in cui si richiede che venga effettuato il pagamento secondo il
                        formato ISO 8601 [YYYY]-[MM]-[DD].
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="importoTotaleDaVersare" type="tns:stImportoDiversoDaZero">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo totale della somma da versare.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere diverso da "0.00".</xsd:documentation>
                    <xsd:documentation>Deve uguale alla somma delle varie occorrenze (da 1 a 5) del dato
                        importoSingoloVersamento presente nella struttura DatiSingoloVersamento
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoVersamento" type="tns:stTipoVersamento">
                <xsd:annotation>
                    <xsd:documentation>Forma tecnica di versamento delle somme dovute presso la Tesoreria Statale. Può
                        assumere i seguenti valori:
                    </xsd:documentation>
                    <xsd:documentation>- BBT - Bonifico Bancario di Tesoreria.</xsd:documentation>
                    <xsd:documentation>- BP - Bonifico Postale.</xsd:documentation>
                    <xsd:documentation>- AD - Addebito diretto.</xsd:documentation>
                    <xsd:documentation>- CP - Carta di Pagamento.</xsd:documentation>
                    <xsd:documentation>- PO - Pagamento attivato presso PSP.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riferimento univoco assegnato al versamento dall’ente beneficiario, utilizzato ai
                        fini specifici della rendicontazione e riconciliazione eseguita sui conti di tesoreria.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceContestoPagamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Codice univoco necessario a definire il contesto nel quale viene effettuato il
                        versamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ibanAddebito" type="tns:stIBANIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifica l’International Bank Account Number del conto da addebitare riferito
                        al soggetto pagatore, definito secondo lo standard ISO 13616.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bicAddebito" type="tns:stBICIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bank Identifier Code della banca ordinante, definito secondo lo standard ISO
                        9362.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="firmaRicevuta" type="tns:stFirmaRicevuta">
                <xsd:annotation>
                    <xsd:documentation>Codice del tipo di firma digitale o elettronica qualificata o elettronica
                        avanzata cui deve essere sottoposto il messaggio di Ricevuta Telematica, secondo le tipologie di
                        firma previste dalle Regole Tecniche sulla firma digitale.
                    </xsd:documentation>
                    <xsd:documentation>0 Firma non richiesta</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingoloVersamento" type="tns:ctDatiSingoloVersamentoRPT" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli versamenti", da un minimo di uno ad un massimo di
                        5 occorrenze di versamento, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiSingoloPagamentoRT">
        <xsd:sequence>
            <xsd:element name="singoloImportoPagato" type="tns:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma versata.
                    </xsd:documentation>
                    <xsd:documentation>Se il singolo versamento non è stato effettuato l’importo deve essere impostato a
                        0.00.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="esitoSingoloPagamento" type="tns:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene la descrizione in formato testo dell’esito del singolo pagamento.
                    </xsd:documentation>
                    <xsd:documentation>Obbligatorio nel caso che l’elemento singoloImportoVersato sia 0.00.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dataEsitoSingoloPagamento" type="tns:stISODate">
                <xsd:annotation>
                    <xsd:documentation>Indica la data di esecuzione o di rifiuto del pagamento, nel formato iso 8601
                        [YYYY]-[MM]-[DD].
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoRiscossione" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riferimento univoco dell’operazione assegnato al versamento dal Prestatore dei
                        servizi di Pagamento. Può coincidere con il CRO nel caso di Bonifico Bancario o con il CODELINE
                        nel caso di bollettino postale.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleVersamento" type="tns:stText140">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato, a cura del PSP, così come presente nella
                        Richiesta di Pagamento Telematico (RPT) cui si riferisce il messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSpecificiRiscossione" type="tns:stDatiSpecificiRiscossione">
                <xsd:annotation>
                    <xsd:documentation>Il dato, se presente, deve essere riportato invariato, a cura del Psp, così come
                        presente nella Richiesta di Pagamento Telematico (RPT) cui si riferisce il messaggio di Ricevuta
                        Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="commissioniApplicatePSP" type="tns:stImporto" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo della commissione applicata dal PSP al proprio cliente (soggetto
                        versante o soggetto pagatore).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="allegatoRicevuta" type="tns:ctAllegatoRicevuta" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione contenente l'allegato al singolo pagamento.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiVersamentoRT">
        <xsd:sequence>
            <xsd:element name="codiceEsitoPagamento" type="tns:stCodiceEsitoPagamento">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico indicante l’esito del pagamento.</xsd:documentation>
                    <xsd:documentation>Può assumere i seguenti valori:</xsd:documentation>
                    <xsd:documentation>0 - Pagamento eseguito</xsd:documentation>
                    <xsd:documentation>1 - Pagamento non eseguito</xsd:documentation>
                    <xsd:documentation>2 - Pagamento parzialmente eseguito</xsd:documentation>
                    <xsd:documentation>3 - Decorrenza termini</xsd:documentation>
                    <xsd:documentation>4 - Decorrenza termini parziale</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="importoTotalePagato" type="tns:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma versata.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere uguale alla somma delle varie occorrenze (da 1 a 5) dell’informazione
                        singoloImportoVersato presente nella struttura DatiSingoloPagamento.
                    </xsd:documentation>
                    <xsd:documentation>Se il versamento non è stato effettuato l’importo deve essere impostato a 0.00
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato, a cura del prestatore di servizi di
                        pagamento, così come presente nella Richiesta di Pagamento Telematico (RPT) cui si riferisce il
                        messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CodiceContestoPagamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato, a cura del prestatore di servizi di
                        pagamento, così come presente nella Richiesta di Pagamento Telematico (RPT) cui si riferisce il
                        messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingoloPagamento" type="tns:ctDatiSingoloPagamentoRT" minOccurs="0" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli versamenti", da un minimo di uno ad un massimo di
                        5 occorrenze di versamento, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                    <xsd:documentation>Obbligatorio nel caso che l’elemento codiceEsitoPagamento sia 0 o 2
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--RR ER -->
    <xsd:simpleType name="stTipoRevoca">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]"/>
            <xsd:enumeration value="0"/><!-- Tipo non codificato -->
            <xsd:enumeration value="1"/><!-- Annullo tecnico -->
            <xsd:enumeration value="2"/><!-- Procedura di charge back -->
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="ctDatiRevoca">
        <xsd:sequence>
            <xsd:element name="importoTotaleRevocato" type="tns:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo al totale delle somme versate. Deve essere uguale alla
                        somma delle varie occorrenze (da 1 a 5) dell’informazione singoloImportoRevocato presente nella
                        struttura DatiSingolaRevoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato così come presente nella Ricevuta
                        Telematica (RT) cui si riferisce il messaggio di Richiesta di Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceContestoPagamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato così come presente nella Ricevuta
                        Telematica (RT) cui si riferisce il messaggio di Richiesta di Revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoRevoca" type="tns:stTipoRevoca" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene il tipo di richiesta che viene utilizzata nel processo di revoca della
                        RT. Il dato è obbligatorio in caso di utillo della Richiesta Revoca da parte del PSP nel
                        processo di Revoca della RT. Il dato non deve essere presente in caso di utilizzo della
                        Richiesta Revoca da parte dell'Ente Creditore nel processo di Storno del pagamento
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingolaRevoca" type="tns:ctDatiSingolaRevoca" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli pagamenti revocati", da un minimo di uno ad un
                        massimo di 5 occorrenze di revoca, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiEsitoRevoca">
        <xsd:sequence>
            <xsd:element name="importoTotaleRevocato" type="tns:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo al totale delle somme versate. Deve essere uguale alla
                        somma delle varie occorrenze (da 1 a 5) dell’informazione singoloImportoRevocato presente nella
                        struttura DatiSingolaRevoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato
                        "identificativoUnivocoVersamento" della Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceContestoPagamento" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato "codiceContestoPagamento" della
                        Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingolaRevoca" type="tns:ctDatiSingoloEsitoRevoca" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli pagamenti revocati", da un minimo di uno ad un
                        massimo di 5 occorrenze di revoca, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiSingolaRevoca">
        <xsd:sequence>
            <xsd:element name="singoloImportoRevocato" type="tns:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma revocata.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoRiscossione" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riferimento univoco dell’operazione assegnato al pagamento dal Prestatore dei
                        servizi di Pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleRevoca" type="tns:stText140">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta la descrizione del motivo della richiesta di revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiAggiuntiviRevoca" type="tns:stText140">
                <xsd:annotation>
                    <xsd:documentation>Informazioni aggiuntive circa la descrizione del motivo della richiesta di
                        revoca.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiSingoloEsitoRevoca">
        <xsd:sequence>
            <xsd:element name="singoloImportoRevocato" type="tns:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma revocata. Se la richiesta non è stata
                        accolta deve essere impostato a 0.00.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoRiscossione" type="tns:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato
                        "identificativoUnivocoRiscossione" della Richiesta di Revoca (RR).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleEsito" type="tns:stText140">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta la descrizione dell’esito della revoca.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiAggiuntiviEsito" type="tns:stText140">
                <xsd:annotation>
                    <xsd:documentation>Informazioni aggiuntive circa il provvedimento adottato dall’ente creditore.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctNumeroAvviso">
        <xsd:sequence>
            <xsd:element type="tns:stAuxDigit" name="auxDigit"/>
            <xsd:element type="tns:stApplicationCode" name="applicationCode" minOccurs="0"/>
            <xsd:element type="tns:stCodIUV" name="IUV"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiPagamentoPA">
        <xsd:sequence>
            <xsd:element name="importoSingoloVersamento" type="tns:stImporto"/>
            <xsd:element name="ibanAccredito" type="tns:stIBANIdentifier"/>
            <xsd:element name="bicAccredito" type="tns:stBICIdentifier" minOccurs="0"/>
            <xsd:element name="enteBeneficiario" type="tns:ctEnteBeneficiario" minOccurs="0"/>
            <xsd:element name="credenzialiPagatore" type="tns:stText35" minOccurs="0"/>
            <xsd:choice>
                <xsd:element name="causaleVersamento" type="tns:stCausaleVersamento"/>
                <xsd:element name="spezzoniCausaleVersamento" type="tns:ctSpezzoniCausaleVersamento"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctEsitoChiediNumeroAvviso">
        <xsd:complexContent>
            <xsd:extension base="tns:ctRisposta">
                <xsd:sequence>
                    <xsd:element name="esito" type="xsd:string"/>
                    <xsd:element name="identificativoDominio" type="tns:stText35" minOccurs="0"/>
                    <xsd:element name="numeroAvviso" type="tns:ctNumeroAvviso" minOccurs="0"/>
                    <xsd:element name="datiPagamentoPA" type="tns:ctDatiPagamentoPA" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="stEffettuazioneScelta">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SI"/>
            <xsd:enumeration value="NO"/>
            <xsd:enumeration value="PO"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stForzaControlloSegno">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="tipoListaQuadrature">
        <xsd:sequence>
            <xsd:element name="totRestituiti" type="xsd:int"/>
            <xsd:element name="idQuadratura" type="tns:tipoIdQuadratura" nillable="true" minOccurs="0"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tipoIdQuadratura">
        <xsd:sequence>
            <xsd:element name="identificativoFlusso" type="xsd:string"/>
            <xsd:element name="dataOraFlusso" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="tipoListaRPT">
        <xsd:sequence>
            <xsd:element name="elementoListaRPT" type="tns:tipoElementoListaRPT" maxOccurs="5"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tipoElementoListaRPT">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="tns:stText35"/>
            <xsd:element name="identificativoUnivocoVersamento" type="tns:stText35"/>
            <xsd:element name="codiceContestoPagamento" type="tns:stText35"/>
            <xsd:element name="tipoFirma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rpt" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="listaErroriRPT">
        <xsd:sequence>
            <xsd:element name="fault" type="tns:ctFaultBean" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="stDateTimeGiornoOra">
        <xsd:restriction base="xsd:dateTime">
            <xsd:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stSellerBankIdentifier">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stPagamentiPressoPSP">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/> <!-- la PA NON consente i pagamenti c/o PSP -->
            <xsd:enumeration value="1"/> <!-- la PA PSP CONSENTE i pagamenti c/o PSP  -->
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stTipoPeriodo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="giornaliera"/>
            <xsd:enumeration value="settimanale"/>
            <xsd:enumeration value="mensile"/>
            <xsd:enumeration value="annuale"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdServizio">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{5}" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="stIdNegozio">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ctFasciaOraria">
        <xsd:sequence>
            <xsd:element type="xsd:time" name="fasciaOrariaDa" minOccurs="0"/>
            <xsd:element type="xsd:time" name="fasciaOrariaA" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctErogazione">
        <xsd:sequence>
            <xsd:element name="tipoPeriodo" type="tns:stTipoPeriodo" minOccurs="0"/>
            <xsd:element name="giorno" type="tns:stText35" minOccurs="0"/>
            <xsd:element name="fasciaOraria" type="tns:ctFasciaOraria" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctErogazioneServizio">
        <xsd:sequence>
            <xsd:element type="tns:ctErogazione" name="disponibilita" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element type="tns:ctErogazione" name="indisponibilita" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>