common/xsd/rpt-rt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:common="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"
            xmlns:tns="http://pagopa-api.pagopa.gov.it/common/xsd/rpt-rt.xsd"
            targetNamespace="http://pagopa-api.pagopa.gov.it/common/xsd/rpt-rt.xsd"
            elementFormDefault="qualified">

    <xsd:import schemaLocation="common.xsd" namespace="http://pagopa-api.pagopa.gov.it/common/xsd/common.xsd"/>

    <xsd:complexType name="ctDominio">
        <xsd:sequence>
            <xsd:element name="identificativoDominio" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico contenente il codice fiscale della struttura che invia la
                        richiesta di pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoStazioneRichiedente" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Identifica la stazione richiedente il pagamento. Nella fattispecie assume il
                        codice del PdA richiedente o quello del Portale del ministero.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiMarcaBolloDigitale">
        <xsd:sequence>
            <xsd:element name="tipoBollo" type="common:stTipoBollo">
                <xsd:annotation>
                    <xsd:documentation>Contiene la tipologia di Bollo Digitale.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="hashDocumento" type="xsd:base64Binary">
                <xsd:annotation>
                    <xsd:documentation>Contiene l’impronta informatica (digest), rappresentata in "base 64 binary", del
                        documento informatico o della segnatura di protocollo cui è associata la marca da bollo digitale
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaResidenza" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Sigla automobilistica della provincia di residenza del soggetto pagatore.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctAllegatoRicevuta">
        <xsd:sequence>
            <xsd:element name="tipoAllegatoRicevuta" type="common:stTipoAllegatoRicevuta">
                <xsd:annotation>
                    <xsd:documentation>Identifica il tipo di allegato trasportato con la RT.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="testoAllegato" type="common:stBase64">
                <xsd:annotation>
                    <xsd:documentation>Contiene l’allegato vero e proprio, il cui significato è indicato dal dato
                        tipoAllegatoRicevuta.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIdentificativoUnivoco">
        <xsd:sequence>
            <xsd:element name="tipoIdentificativoUnivoco" type="common:stTipoIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che indica la natura del soggetto, può assumere i seguenti
                        valori:
                    </xsd:documentation>
                    <xsd:documentation>G - Persona Giuridica</xsd:documentation>
                    <xsd:documentation>A - Codice ABI</xsd:documentation>
                    <xsd:documentation>B - Codice BIC</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceIdentificativoUnivoco" type="common:stCodiceIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o la partita IVA del
                        soggetto o il codice ABI o il codice BIC
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIdentificativoUnivocoPersonaFG">
        <xsd:sequence>
            <xsd:element name="tipoIdentificativoUnivoco" type="common:stTipoIdentificativoUnivocoPersFG">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che indica la natura del soggetto, può assumere i seguenti
                        valori:
                    </xsd:documentation>
                    <xsd:documentation>F - Persona Fisica</xsd:documentation>
                    <xsd:documentation>G - Persona Giuridica</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceIdentificativoUnivoco" type="common:stCodiceIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o, in alternativa, la
                        partita IVA del soggetto.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIdentificativoUnivocoPersonaG">
        <xsd:sequence>
            <xsd:element name="tipoIdentificativoUnivoco" type="common:stTipoIdentificativoUnivocoPersG">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che indica la natura del soggetto, può assumere i seguenti
                        valori:
                    </xsd:documentation>
                    <xsd:documentation>G - Persona Giuridica</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceIdentificativoUnivoco" type="common:stCodiceIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Campo alfanumerico che può contenere il codice fiscale o, in alternativa, la
                        partita IVA del soggetto.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctSoggettoVersante">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoVersante" type="tns:ctIdentificativoUnivocoPersonaFG">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        del versante.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anagraficaVersante" type="common:stText70">
                <xsd:annotation>
                    <xsd:documentation>Indica il nominativo o la ragione sociale del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoVersante" type="common:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoVersante" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capVersante" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaVersante" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaVersante" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazioneVersante" type="common:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione del versante secondo lo standard ISO 3166.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="e-mailVersante" type="common:stEMail" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indirizzo di posta elettronica del versante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctSoggettoPagatore">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoPagatore" type="tns:ctIdentificativoUnivocoPersonaFG">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        del pagatore.
                    </xsd:documentation>
                    <xsd:documentation>Qualora non sia in grado di identificare fiscalmente il pagatore, si suggerisce
                        di utilizzare il codice fiscale "ANONIMO"
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="anagraficaPagatore" type="common:stText70">
                <xsd:annotation>
                    <xsd:documentation>Indica il nominativo o la ragione sociale del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoPagatore" type="common:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoPagatore" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capPagatore" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaPagatore" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaPagatore" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazionePagatore" type="common:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione del pagatore secondo lo standard ISO 3166.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="e-mailPagatore" type="common:stEMail" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indirizzo di posta elettronica del pagatore.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctEnteBeneficiario">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoBeneficiario" type="tns:ctIdentificativoUnivocoPersonaG">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        dell’ente beneficiario.
                    </xsd:documentation>
                    <xsd:documentation>tipo_identificativo_univoco - se presente deve assumere il valore ‘G’, Persona
                        Giuridica.
                    </xsd:documentation>
                    <xsd:documentation>codice_identificativo_univoco - contenente il codice fiscale dell’amministrazione
                        destinataria del pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denominazioneBeneficiario" type="common:stText70">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione della PA.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceUnitOperBeneficiario" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denomUnitOperBeneficiario" type="common:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoBeneficiario" type="common:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo dell’ente beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoBeneficiario" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico del beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capBeneficiario" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP dell’ente beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaBeneficiario" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località dell’ente beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaBeneficiario" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia del beneficiario.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazioneBeneficiario" type="common:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione dell’ente beneficiario secondo lo standard ISO 3166.
                    </xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa destinataria.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctIstitutoAttestante">
        <xsd:sequence>
            <xsd:element name="identificativoUnivocoAttestante" type="tns:ctIdentificativoUnivoco">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che riporta le informazioni concernenti l’identificazione fiscale
                        dell’Istituto attestante il pagamento.
                    </xsd:documentation>
                    <xsd:documentation>tipo_identificativo_univoco - deve assumere il valore ‘G’, Persona Giuridica.
                    </xsd:documentation>
                    <xsd:documentation>codice_identificativo_univoco - Campo alfanumerico che può contenere il codice
                        fiscale o, in alternativa, la partita IVA dell’Istituto attestante il pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denominazioneAttestante" type="common:stText70">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione dell’Istituto finanziario che emette il documento di
                        attestazione dell’avvenuto versamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceUnitOperAttestante" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice dell’unità operativa che rilascia la quietanza.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="denomUnitOperAttestante" type="common:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene la denominazione dell’unità operativa attestante.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="indirizzoAttestante" type="common:stText70" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica l’indirizzo dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="civicoAttestante" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il numero civico dell'attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="capAttestante" type="common:stText16" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il CAP dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="localitaAttestante" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la località dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="provinciaAttestante" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica la provincia dell’attestante.</xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="nazioneAttestante" type="common:stNazioneProvincia" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indica il codice nazione dell’attestante secondo lo standard ISO 3166.
                    </xsd:documentation>
                    <xsd:documentation>Può coincidere con quello dell’unità operativa che rilascia la ricevuta
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiSingoloVersamentoRPT">
        <xsd:sequence>
            <xsd:element name="importoSingoloVersamento" type="common:stImportoDiversoDaZero">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma da versare. Deve essere diverso da "0.00".
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="commissioneCaricoPA" type="common:stImportoDiversoDaZero" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma da versare. Il data è riportato a solo
                        titolo indicativo e non comporta attività a carico del PSP. Se presente deve essere diverso da
                        "0.00".
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ibanAccredito" type="common:stIBANIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifica l’International Bank Account Number, definito secondo lo standard ISO
                        13616, del conto da accreditare presso la Banca di accredito indicata dall’ente creditore, di
                        norma la Banca Tesoriera.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bicAccredito" type="common:stBICIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bank Identifier Code definito secondo lo standard ISO 9362.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ibanAppoggio" type="common:stIBANIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifica l’International Bank Account Number,, definito secondo lo standard ISO
                        13616, del conto da accreditare presso un PSP che provvederà a trasferire, nei tempi previsti
                        dal DM, i fondi incassati sul conto indicato nell’elemento ibanAccredito.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bicAppoggio" type="common:stBICIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bank Identifier Code definito secondo lo standard ISO 9362 dell’elemento
                        ibanAppoggio
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="credenzialiPagatore" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Eventuali credenziali richieste dal Prestatore di servizi di Pagamento necessarie
                        per completare l’operazione (ad esempio: un codice bilaterale utilizzabile una sola volta).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleVersamento" type="common:stText140">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta la descrizione estesa della causale del versamento. Può assumere i
                        seguenti valori:
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSpecificiRiscossione" type="common:stDatiSpecificiRiscossione">
                <xsd:annotation>
                    <xsd:documentation>Rappresenta l’indicazione dell’imputazione della specifica entrata ed è così
                        articolato:
                    </xsd:documentation>
                    <xsd:documentation>"tipo contabilità"/"codice contabilità", dove "tipo contabilità" può assumere i
                        seguenti valori :
                    </xsd:documentation>
                    <xsd:documentation>0 Capitolo e articolo di Entrata del Bilancio dello stato</xsd:documentation>
                    <xsd:documentation>1 Numero della contabilità speciale</xsd:documentation>
                    <xsd:documentation>2 Codice SIOPE</xsd:documentation>
                    <xsd:documentation>9 Altro codice ad uso dell’amministrazione</xsd:documentation>
                    <xsd:documentation>Esempio: 0/3321.00 per indicare il Contributo Unificato delle spese di
                        giustizia
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiMarcaBolloDigitale" type="tns:ctDatiMarcaBolloDigitale" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione che contiene le informazioni necessarie al PSP per generare la marca
                        da bollo digitale.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiVersamentoRPT">
        <xsd:sequence>
            <xsd:element name="dataEsecuzionePagamento" type="common:stISODate">
                <xsd:annotation>
                    <xsd:documentation>Indica la data in cui si richiede che venga effettuato il pagamento secondo il
                        formato ISO 8601 [YYYY]-[MM]-[DD].
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="importoTotaleDaVersare" type="common:stImportoDiversoDaZero">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo totale della somma da versare.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere diverso da "0.00".</xsd:documentation>
                    <xsd:documentation>Deve uguale alla somma delle varie occorrenze (da 1 a 5) del dato
                        importoSingoloVersamento presente nella struttura DatiSingoloVersamento
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tipoVersamento" type="common:stTipoVersamento">
                <xsd:annotation>
                    <xsd:documentation>Forma tecnica di versamento delle somme dovute presso la Tesoreria Statale. Può
                        assumere i seguenti valori:
                    </xsd:documentation>
                    <xsd:documentation>- BBT - Bonifico Bancario di Tesoreria.</xsd:documentation>
                    <xsd:documentation>- BP - Bonifico Postale.</xsd:documentation>
                    <xsd:documentation>- AD - Addebito diretto.</xsd:documentation>
                    <xsd:documentation>- CP - Carta di Pagamento.</xsd:documentation>
                    <xsd:documentation>- PO - Pagamento attivato presso PSP.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riferimento univoco assegnato al versamento dall’ente beneficiario, utilizzato ai
                        fini specifici della rendicontazione e riconciliazione eseguita sui conti di tesoreria.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="codiceContestoPagamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Codice univoco necessario a definire il contesto nel quale viene effettuato il
                        versamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ibanAddebito" type="common:stIBANIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifica l’International Bank Account Number del conto da addebitare riferito
                        al soggetto pagatore, definito secondo lo standard ISO 13616.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bicAddebito" type="common:stBICIdentifier" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Bank Identifier Code della banca ordinante, definito secondo lo standard ISO
                        9362.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="firmaRicevuta" type="common:stFirmaRicevuta">
                <xsd:annotation>
                    <xsd:documentation>Codice del tipo di firma digitale o elettronica qualificata o elettronica
                        avanzata cui deve essere sottoposto il messaggio di Ricevuta Telematica, secondo le tipologie di
                        firma previste dalle Regole Tecniche sulla firma digitale.
                    </xsd:documentation>
                    <xsd:documentation>0 Firma non richiesta</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingoloVersamento" type="tns:ctDatiSingoloVersamentoRPT" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli versamenti", da un minimo di uno ad un massimo di
                        5 occorrenze di versamento, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiSingoloPagamentoRT">
        <xsd:sequence>
            <xsd:element name="singoloImportoPagato" type="common:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma versata.
                    </xsd:documentation>
                    <xsd:documentation>Se il singolo versamento non è stato effettuato l’importo deve essere impostato a
                        0.00.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="esitoSingoloPagamento" type="common:stText35" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Contiene la descrizione in formato testo dell’esito del singolo pagamento.
                    </xsd:documentation>
                    <xsd:documentation>Obbligatorio nel caso che l’elemento singoloImportoVersato sia 0.00.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dataEsitoSingoloPagamento" type="common:stISODate">
                <xsd:annotation>
                    <xsd:documentation>Indica la data di esecuzione o di rifiuto del pagamento, nel formato iso 8601
                        [YYYY]-[MM]-[DD].
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoRiscossione" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Riferimento univoco dell’operazione assegnato al versamento dal Prestatore dei
                        servizi di Pagamento. Può coincidere con il CRO nel caso di Bonifico Bancario o con il CODELINE
                        nel caso di bollettino postale.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="causaleVersamento" type="common:stText140">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato, a cura del PSP, così come presente nella
                        Richiesta di Pagamento Telematico (RPT) cui si riferisce il messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSpecificiRiscossione" type="common:stDatiSpecificiRiscossione">
                <xsd:annotation>
                    <xsd:documentation>Il dato, se presente, deve essere riportato invariato, a cura del Psp, così come
                        presente nella Richiesta di Pagamento Telematico (RPT) cui si riferisce il messaggio di Ricevuta
                        Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="commissioniApplicatePSP" type="common:stImporto" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo della commissione applicata dal PSP al proprio cliente (soggetto
                        versante o soggetto pagatore).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="allegatoRicevuta" type="tns:ctAllegatoRicevuta" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione contenente l'allegato al singolo pagamento.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctDatiVersamentoRT">
        <xsd:sequence>
            <xsd:element name="codiceEsitoPagamento" type="common:stCodiceEsitoPagamento">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico indicante l’esito del pagamento.</xsd:documentation>
                    <xsd:documentation>Può assumere i seguenti valori:</xsd:documentation>
                    <xsd:documentation>0 - Pagamento eseguito</xsd:documentation>
                    <xsd:documentation>1 - Pagamento non eseguito</xsd:documentation>
                    <xsd:documentation>2 - Pagamento parzialmente eseguito</xsd:documentation>
                    <xsd:documentation>3 - Decorrenza termini</xsd:documentation>
                    <xsd:documentation>4 - Decorrenza termini parziale</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="importoTotalePagato" type="common:stImporto">
                <xsd:annotation>
                    <xsd:documentation>Campo numerico (due cifre per la parte decimale, il separatore dei centesimi è il
                        punto "."), indicante l’importo relativo alla somma versata.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere uguale alla somma delle varie occorrenze (da 1 a 5) dell’informazione
                        singoloImportoVersato presente nella struttura DatiSingoloPagamento.
                    </xsd:documentation>
                    <xsd:documentation>Se il versamento non è stato effettuato l’importo deve essere impostato a 0.00
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoUnivocoVersamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato, a cura del prestatore di servizi di
                        pagamento, così come presente nella Richiesta di Pagamento Telematico (RPT) cui si riferisce il
                        messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CodiceContestoPagamento" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Il dato deve essere riportato invariato, a cura del prestatore di servizi di
                        pagamento, così come presente nella Richiesta di Pagamento Telematico (RPT) cui si riferisce il
                        messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiSingoloPagamento" type="tns:ctDatiSingoloPagamentoRT" minOccurs="0" maxOccurs="5">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati dei singoli versamenti", da un minimo di uno ad un massimo di
                        5 occorrenze di versamento, facenti capo ad un unico identificativoUnivocoVersamento.
                    </xsd:documentation>
                    <xsd:documentation>Obbligatorio nel caso che l’elemento codiceEsitoPagamento sia 0 o 2
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctRichiestaPagamentoTelematico">
        <xsd:sequence>
            <xsd:element name="versioneOggetto" type="common:stText16">
                <xsd:annotation>
                    <xsd:documentation>Versione che identifica l’oggetto scambiato.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dominio" type="tns:ctDominio">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dominio" che riporta le informazioni che consentono di individuare
                        univocamente l’ambito di applicazione della richiesta.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoMessaggioRichiesta" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Identificativo legato alla trasmissione della richiesta di pagamento.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere univoco nell’ambito della stessa data definita da Data_Ora_
                        messaggio_richiesta.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dataOraMessaggioRichiesta" type="common:stISODateTime">
                <xsd:annotation>
                    <xsd:documentation>Indica la data e l’ora di generazione del messaggio di richiesta di pagamento
                        secondo il formato ISO 8601
                    </xsd:documentation>
                    <xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="autenticazioneSoggetto" type="common:stAutenticazioneSoggetto">
                <xsd:annotation>
                    <xsd:documentation>Contiene la modalità di identificazione applicata al soggetto che deve essere
                        addebitato per il pagamento
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoVersante" type="tns:ctSoggettoVersante" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "versante" che riporta le informazioni concernenti il soggetto che
                        effettua il pagamento per conto del soggetto Pagatore.
                    </xsd:documentation>
                    <xsd:documentation>Se coincide con il soggetto Pagatore deve essere omesso.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoPagatore" type="tns:ctSoggettoPagatore">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "soggetto pagatore" che riporta le informazioni concernenti il
                        soggetto che effettua il pagamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="enteBeneficiario" type="tns:ctEnteBeneficiario">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "ente beneficiario" creditore di somme nei confronti del soggetto
                        pagatore.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiVersamento" type="tns:ctDatiVersamentoRPT">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati del versamento".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ctRicevutaTelematica">
        <xsd:sequence>
            <xsd:element name="versioneOggetto" type="common:stText16">
                <xsd:annotation>
                    <xsd:documentation>Riporta la stessa informazione presente nel dato "versioneOggetto" della
                        Richiesta di Pagamento Telematico (RPT).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dominio" type="tns:ctDominio">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "Dominio" della Richiesta di
                        Pagamento Telematico (RPT)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="identificativoMessaggioRicevuta" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Identificativo legato alla trasmissione della quietanza telematica.
                    </xsd:documentation>
                    <xsd:documentation>Deve essere univoco nell’ambito della stessa data riferita all’elemento
                        dataMessaggioRicevuta.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="dataOraMessaggioRicevuta" type="common:stISODateTime">
                <xsd:annotation>
                    <xsd:documentation>Indica la data del messaggio di quietanza, secondo il formato ISO 8601
                    </xsd:documentation>
                    <xsd:documentation>[YYYY]-[MM]-[DD]T[hh]:[mm]:[ss]</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="riferimentoMessaggioRichiesta" type="common:stText35">
                <xsd:annotation>
                    <xsd:documentation>Con riferimento al messaggio di Ricevuta Telematica (RT) l’elemento contiene il
                        dato identificativoMessaggioRichiesta legato alla trasmissione della Richiesta di Pagamento
                        Telematico (RPT).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="riferimentoDataRichiesta" type="common:stISODate">
                <xsd:annotation>
                    <xsd:documentation>Indica la data secondo il formato ISO 8601 [YYYY]-[MM]-[DD] cui si riferisce la
                        generazione del dato riferimentoMessaggioRichiesta.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="istitutoAttestante" type="tns:ctIstitutoAttestante">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione relativa al soggetto Prestatore dei servizi di Pagamento che emette
                        il documento di attestazione dell’avvenuto versamento.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="enteBeneficiario" type="tns:ctEnteBeneficiario">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "Ente Beneficiario" della
                        Richiesta di Pagamento Telematico (RPT) cui si riferisce il messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoVersante" type="tns:ctSoggettoVersante" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "Soggetto Versante" della
                        Richiesta di Pagamento Telematico (RPT) cui si riferisce il messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soggettoPagatore" type="tns:ctSoggettoPagatore">
                <xsd:annotation>
                    <xsd:documentation>Riporta le stesse informazioni presenti nel blocco "Soggetto Pagatore" della
                        Richiesta di Pagamento Telematico (RPT) cui si riferisce il messaggio di Ricevuta Telematica.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="datiPagamento" type="tns:ctDatiVersamentoRT">
                <xsd:annotation>
                    <xsd:documentation>Aggregazione "dati del versamento"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="RPT" type="tns:ctRichiestaPagamentoTelematico">
        <xsd:annotation>
            <xsd:documentation>Richiesta Pagamento Telematico (RPT)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="RT" type="tns:ctRicevutaTelematica">
        <xsd:annotation>
            <xsd:documentation>Ricevuta Telematica (RT)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>
